HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

../Airbnb-clone/
../Api-Consume/
../Arrays/
../Banking-System/
../Bentilzone-Restaurant/
../Car/
../Chat-Application/
../Client-Server/
../Composition/
../Consuming-Api/
../ContactUs/
../Expense-Tracker/
../Extra-works/
../Full Project/
../GoMyCode/
../JobsMonetaNigeria/
../Liberary/
../Moneta-Jobs/
../Moneta-Media/
../MonetaStoreNew/
../Multiple-Chat-Application/
../OOPtask1/
../Oop-Theory-1/
../Oop-Theory/
../Oop-new1/
../Oop-work/
../OopProject/
../OopProject2/
../Oop_Theory2/
../Priority-que/
../Quickbite-project/
../Quickbite/
../React-info-clone/
../School-Management-OOP/
../School-Management-oop-main/
../SimpleCalculator/
../Tenzes-game/
../blackjack-game/
../calculator/
../chrome-extention/
../clustered-data-warehouse/
../jsm-async-job-executor-starter/
../jumia algorithm/.gitignore
../jumia algorithm/src/
../kibou-registry/
../meme-generator/
../microservices-new/
../microservices-new1/
../microservices-parent/inventory-service/
../microservices-parent/order-service/
../microservices-parent/product-service/
../mobile-app/
../note-app/
../passenger-counter-app/
../quickbite-frontend/node_modules/
../quickbite-frontend/src/
../quiz-application/
../school-oop/
../startAgain/
../testing/.gitignore
../testing/src/
../tobi/
../untitled/
../weeklyTask1andPractice-main/weeklyTask1andPractice-main/
../weeklyTask1andPractice/


